
    @font-face {
        font-family: "Bebas Neue";
        src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
          url("../fonts/BebasNeueRegular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      

* {
    box-sizing: border-box; /* Позволяет правильно считать ширину и высоту элементов */
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex; /* Делает блок гибким */
    justify-content: space-between; /* Расставляет элементы по краям */
    align-items: center;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none; /*  Отключаем точки у списка */
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
}

.navbar-contacts {
    text-align: right; /* Выравнивание текста (по правому краю) */
}

.navbar-text {
    display: block; /* Занимает всю строчку */
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar-phone { 
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration: none; /* Отменяет подчеркивание */
color: white;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column; /* Выстраивание элементы друг за другом,по вертикали */
    align-items: center;
    justify-content: space-between; /* Разбрасывает элементы по краям */
}

.home-image path {
    opacity: 0; /* Прозрачность */
    cursor: pointer; /* Делает курсор в виде пальца */
}

.home-image path:hover { /* псевдокласс */
    opacity: 1;
}

path.current-floor {
    opacity: 1;
}

.counter-group {
    display: flex;
    flex-direction: column; /* Позволяет элементам встать друг за другом */
    align-items: center; /* Выравнивание по центру */
}

.counter-button {
    background-color: #fff;
    border: none; /* Убирает обводку */
    cursor: pointer;
}

.counter-arrow-down {
    transform: rotateX(180deg); /* Свойство которое разворачивает картинку на 180 градусов */
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

.flats path:hover {
    opacity: 1;
}

.main-title {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}

.floor-counter {
    font-family: Bebas Neue, sans-serif;
    color: #635854;
    font-size: 124px;
    margin-top: 10px;
}

.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 16px 36px; /*Верх-низ; по краям */
    cursor: pointer;
}

.modal {
    position: fixed; /* фиксированная позиция, поверх всего сайта */
    left: 0; /* приклеиваем к левому краю */
    top: 0; /* приклеиваем к верху */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный фоновый черный цвет */
    display: flex; /*  родительский элемент - гибкий*/
    justify-content: center;
    align-items: center;
    opacity: 0; /* Делает полностью прозрачным окно*/
    transform: scale(0); /* Сожметься в ноль, то есть не будет видно на сайте вообще */
    transition: opacity 0.2s; /* Добавляем плавности окну, окно будет появляться плавно в течени поставленного времени */
}

.is-open { /*  */
    opacity: 1;  
    transform: scale(1);
}

.modal-dialog {
    position: absolute;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1; 
    display: flex; 
    opacity: 0;
    transform: translateY(-10%); /* Отодвигает на 10% вверх*/
    transition: transform 0.2s, opacity 0.2s; /* Добавляет плавности */
    transition-delay: 0.2s;  /* Появлятеся окно с задержкой */
}

.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-image {
    background-color: #ebebeb;
    width: 60%;
    text-align: center; /* весь текст по центру */
    padding: 50px;
}

.modal-title {
font-family: Bebas Neue, sans-serif;
font-weight: normal;
font-size: 24px;
line-height: 24px;
margin-top: 0;
margin-bottom: 25px;
}

.modal-info {
    width: 40%;
    padding: 50px 46px;
}

.flat-list {
    padding: 0;
    list-style: none; /* Отключает точки */
    margin-top: 55px;
}

.flat-item {
    margin-bottom: 10px; /* делаем между ссылками 10 пикселей */
}

.flat-link {
font-size: 16px;
line-height: 19px;
color: #635854;
text-decoration: none; /* Убираем подчеркивание текста */
}

.flat-link:hover { /* при наведение на ссылку,она становится голубой */ 
    color:#3596F5;
    text-decoration: underline; /* Делает подчеркивания текста снизу */
}

.modal-alert {
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 19px; 
color: #635854;
margin-top: 56px;
}

.modal-close-button {
    position: absolute;
    right: 27px;
    top: 38px ;
    cursor: pointer; /* Добавляет курсор */
    border: none;
    background-color:#fff;
}